*, ::after, ::before {
    box-sizing: initial;
}

#maincontent {
    width: 80%;
    margin: auto;
}

/* Homepage */
h2#welcome {
    margin-top: 20px;
    text-align: center;
    font-size: 1.5rem;
}

img#logo {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: block;
}

#button_seeall {
    width: 80%;
    margin: auto;
    display: block;
    margin-bottom: 9%;
}

#form_login {
    width: 50%;
    margin: auto;
    margin-top: 90px;
}

/* Footer */
footer {
    height: 4%;
}

/* Courses List */
#filterform input[type=submit] {
    margin-top: 32px;
}

/* Professor details */
#form_details .form-group {
    margin-bottom: 0px;
}

#photo_teacher {
    margin: auto;
    width: 80%;
    display: block;
    border-radius: 50%;
}

/* Accordions */

.panel-heading a {
    font-size: 1rem;
    color: black;
}

/* Carousel */
#carousel {
    width: 80%;
    margin: 15px auto 15px auto;
}

#carousel .carousel-indicators li {
    background-color: rgba(000,000,000,.5);
}

#carousel .carousel-indicators .active {
    background-color: rgba(000,000,000,0.8);
}