.maincolor {
   background-color: #c0392b !important;
}

.secondarycolor {
    background-color: #f1c40f !important;
}

#maincontent .centered {
    width: 40%;
    margin: auto;
    display: block;
}

#maincontent .hidden {
    display: none;
}

#maincontent .textcentered {
    text-align: center;
}

#maincontent .morebelow {
    margin-top: 20px;
}

#maincontent .moreabove {
    margin-bottom: 20px;
}

#maincontent .moreright {
    margin-left: 20px;
}

#maincontent .moreleft {
    margin-right: 20px;
}

html,body {
    height: 100%;
    min-height: 100%;
    margin: 0;
}

/* Necessary to make footer go to bottom */
#wrapper{
    height: auto !important;
    min-height: 100%;
    margin: 0 auto -60px; /* 60px is the height of footer */
}

#wrapper:after {
  content: "";
  display: block;
  height: 60px;
}

footer {
    position: relative;
    height: 10%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.percent50 {
    width: 50%;
}

input[type=submit].success {
    background-color: #28a745;
    color: #fff;
}

.ul_no_dots {
    list-style-type: none;
    margin-left: -36px;
}

.round {
    border-radius: 50%;
}

.inline {
    display: inline;
}