<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">   
    <context-param>
        <param-name>images.directory</param-name>
        <!-- Tomcat must have write permissions on this folder -->
        <param-value>d:/Java/TomcatWork</param-value>
    </context-param>
    <context-param> 
      <description>Location to store uploaded file</description> 
      <param-name>file-upload</param-name> 
      <param-value>C:/Users/agost/Documents/workspace/WebEngineering-master/web/uploads/</param-value> 
   </context-param>
    <context-param>
        <param-name>view.date_format</param-name>
        <param-value>dd/MM/yyyy hh:mm:ss</param-value>
    </context-param>
    <context-param>
        <param-name>view.debug</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>templates</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.author</param-name>
        <param-value>GitHub: HerrAugust</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.homepage_url</param-name>
        <param-value>homepage</param-value>
    </context-param>
    <context-param>
        <param-name>view.encoding</param-name>
        <param-value>ISO-8859-1</param-value>
    </context-param>
    <context-param>
        <param-name>view.error_template</param-name>
        <param-value>error.ftl.html</param-value>
    </context-param>   
    <servlet>
        <servlet-name>BE_Homepage</servlet-name>
        <servlet-class>it.univaq.webengineering.controller.BE_Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BE_AddCourse</servlet-name>
        <servlet-class>it.univaq.webengineering.controller.BE_AddCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BE_ListCourses</servlet-name>
        <servlet-class>it.univaq.webengineering.controller.BE_Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BE_EditCourse</servlet-name>
        <servlet-class>it.univaq.webengineering.controller.BE_EditCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BE_AddUser</servlet-name>
        <servlet-class>it.univaq.webengineering.controller.BE_AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BE_ListUsers</servlet-name>
        <servlet-class>it.univaq.webengineering.controller.BE_ListUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BE_UpdateProfile</servlet-name>
        <servlet-class>it.univaq.webengineering.controller.BE_UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FE_Homepage</servlet-name>
        <servlet-class>it.univaq.webengineering.controller.FE_Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FE_Courses</servlet-name>
        <servlet-class>it.univaq.webengineering.controller.FE_Courses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FE_Login</servlet-name>
        <servlet-class>it.univaq.webengineering.controller.FE_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FE_Logout</servlet-name>
        <servlet-class>it.univaq.webengineering.controller.FE_Login</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>BE_Homepage</servlet-name>
        <url-pattern>/be_homepage</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>BE_AddCourse</servlet-name>
        <url-pattern>/be_addcourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BE_ListCourses</servlet-name>
        <url-pattern>/be_listcourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BE_Homepage</servlet-name>
        <url-pattern>/deletecourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BE_EditCourse</servlet-name>
        <url-pattern>/be_editcourse</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>BE_AddUser</servlet-name>
        <url-pattern>/be_adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BE_ListUsers</servlet-name>
        <url-pattern>/be_listusers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BE_UpdateProfile</servlet-name>
        <url-pattern>/be_updateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FE_Homepage</servlet-name>
        <url-pattern>/fe_homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FE_Courses</servlet-name>
        <url-pattern>/fe_courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FE_Login</servlet-name>
        <url-pattern>/fe_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FE_Logout</servlet-name>
        <url-pattern>/fe_logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>fe_homepage</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/webengineering</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
