<#include "base.ftl.html">

<#macro page_body>
<!-- Page Content -->
    <div id="maincontent" class="container">

        <h2 class="morebelow">${course.name}</h2>
        <#if imagessrc??>
        <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
            <ol class="carousel-indicators">
              <#if imagessrc?size != 1>
              <#list imagessrc as i>
              <li data-target="#carouselExampleIndicators" data-slide-to="${i?index}" <#if i?index == 0>class="active"</#if>></li>
              </#list>
              </#if>
            </ol>
            <div class="carousel-inner">
                <#list imagessrc as imagesrc>
                <div class="carousel-item <#if imagesrc?index == 0>active</#if>">
                  <img class="d-block w-100" src="uploads/${imagesrc.name_on_disk}" alt="Image of course">
                </div>
                </#list>
            </div>
            <!--<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>-->
          </div>
        </#if>
        
        <h5>Basic data</h5>
            <div class="row">
                <div class="col-3">Code: </div>
                <div class="col-3">${course.code}</div>
                <div class="col-3"></div>
                <div class="col-3"></div>
            </div>
                
            <div class="row">
                <div class="col-3">Name: </div>
                <div class="col-3">${course.name}</div>
                <div class="col-3"></div>
                <div class="col-3"></div>
            </div>
            
            <div class="row">
                <div class="col-3">SSD: </div>
                <div class="col-3">${course.SSD}</div>
                <div class="col-3"></div>
                <div class="col-3"></div>
            </div>
        
            <div class="row">
                <div class="col-3">Semester: </div>
                <div class="col-3">${course.semester} - <#if course.semester == 1>Winter<#else>Summer</#if> semester</div>
                <div class="col-3"></div>
                <div class="col-3"></div>
            </div>
            
            <div class="row">
                <div class="col-3">Language: </div>
                <div class="col-3"><#if course.language == 'ita'>Italian<#else>English</#if></div>
                <div class="col-3"></div>
                <div class="col-3"></div>
            </div>
            
            <div class="row">
                <div class="col-3">Teachers: </div>
                <div class="col-6">
                    <ul>
                    <#list course.teachers as t>
                    <li><a href="fe_courses?action=details_teacher&id=${t.id}">${t.lastname}, ${t.name}</a></li>
                    </#list>
                    </ul>
                </div>
            </div>
        
            <div class="row">
                <div class="col-3">Course homepage: </div>
                <div class="col-3"><a href="${course.homepage}">Homepage</a></div>
                <div class="col-3"></div>
                <div class="col-3"></div>
            </div>
        
            <div class="row">
                <div class="col-3">Course forum: </div>
                <div class="col-3"><a href="${course.forum}">Forum</a></div>
                <div class="col-3"></div>
                <div class="col-3"></div>
            </div>
        
            <#if course.module??>
            <div class="row">
                <div class="col-3">Module with: </div>
                <div class="col-3">
                    <a href="fe_courses?action=details_course&id=${course.module.id}">${course.module.name}</a>
                </div>
                <div class="col-3"></div>
                <div class="col-3"></div>
            </div>
            </#if>
            
            <#if course.same_as?? && course.same_as?size != 0>
            <div class="row">
                <div class="col-3">Replaces: </div>
                <div class="col-3">
                    <ul>
                    <#list course.same_as as c>
                    <li><a href="fe_courses?action=details_course&id=${c.id}">${c.name}</a></li>
                    </#list>
                    </ul>
                </div>
                <div class="col-3"></div>
                <div class="col-3"></div>
            </div>
            </#if>
            
            <#if course.preparatory?? && course.preparatory?size != 0>
            <div class="row">
                <div class="col-3">Requires: </div>
                <div class="col-3">
                    <ul>
                    <#list course.preparatory as c>
                    <li><a href="fe_courses?action=details_course&id=${c.id}">${c.name}</a></li>
                    </#list>
                    </ul>
                </div>
                <div class="col-3"></div>
                <div class="col-3"></div>
            </div>
            </#if>
        
        <h5 class="morebelow">Course description</h5>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fas fa-angle-down"></i>  Prerequisites:
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                      <#if course.prerequisites == ''>Not available<#else>${course.prerequisites}</#if>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="fas fa-angle-down"></i>  Learning outcomes:
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <#if course.learning_outcomes == ''>Not available<#else>${course.learning_outcomes}</#if>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading3">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                        <i class="fas fa-angle-down"></i>  Assessment method:
                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                <div class="panel-body">
                    <#if course.assessment_method == ''>Not available<#else>${course.assessment_method}</#if>
                </div>
            </div>
        </div>        
        
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading4">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                        <i class="fas fa-angle-down"></i>  Teaching method:
                    </a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                <div class="panel-body">
                      <#if course.teaching_method == ''>Not available<#else>${course.teaching_method}</#if>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading5">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        <i class="fas fa-angle-down"></i>  Syllabus:
                    </a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                <div class="panel-body">
                      <#if course.syllabus == ''>Not available<#else>${course.syllabus}</#if>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading6">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        <i class="fas fa-angle-down"></i>  Notes:
                    </a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                <div class="panel-body">
                      <#if course.notes == ''>Not available<#else>${course.notes}</#if>
                </div>
            </div>
        </div>

        <#if course.books?? && course.books?size != 0>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading7">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapse7">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        <i class="fas fa-angle-down"></i>  Textbooks:
                    </a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                <div class="panel-body">
                    <ul>
                        <#list course.books as t>
                        <li><i>${t.title}</i>, ${t.author}, ${t.year}<#if t.volume != ''>, Vol. ${t.volume}</#if>, ${t.publisher} <#if t.weblink != ''>, <a href="${t.weblink}">reference</a></#if></li>
                        </#list>
                    </ul>
                </div>
            </div>
        </div>
        </#if>

    </div>
    <!-- /.container -->
</#macro>

<@display_page/>