<#include "base.ftl.html">

<#macro page_body>
<!-- Page Content -->
    <div id="maincontent" class="container">

        <h2 class="textcentered morebelow">Welcome in the Official Website of</h2>
        <h1 class="textcentered">Univaq</h1>
        <image id="logo" src="images/logo.png" alt="Logo of Univaq"/>
        <a href="fe_courses">
            <button type="button" class="btn btn-success centered">See all courses</button>
        </a>

    </div>
    <!-- /.container -->
</#macro>

<@display_page/>