<#include "base.ftl.html">

<#macro page_body>
<!-- Page Content -->
    <div id="maincontent" class="container">

        <h2 id="welcome">Benvenuto nel Sito Ufficiale di</h2>
        <h1 class="textcentered">Univaq</h1>
        <image id="logo" src="images/logo.png" alt="Logo of Univaq"/>
        <a href="fe_courses?lang=ITA">
            <button type="button" id="button_seeall" class="btn btn-success">Tutti i corsi</button>
        </a>

    </div>
    <!-- /.container -->
</#macro>

<@display_page/>