<#include "base.ftl.html">

<#macro page_body>
<!-- Page Content -->
    <div id="maincontent" class="container">

        <h2 class="morebelow">Dettagli su <i>${teacher.name} ${teacher.lastname}</i></h2>
        <img id="photo_teacher" <#if imagesrc?? && imagesrc != ''>src="${imagesrc}"<#else>src="uploads/anonymous.jpg"</#if> alt="foto del professore"/>
        
        <form id="form_details">
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label"><b>Nome: </b></label>
                <input readonly type="text" id="name" value="${teacher.name}" class="form-control-plaintext">
            </div>
                
            <div class="form-group row">
                <label for="surname" class="col-sm-2 col-form-label"><b>Cognome: </b></label>
                <input readonly id="surname" value="${teacher.lastname}" class="form-control-plaintext">
            </div>
                
            <div class="form-group row">
                <label for="email"  class="col-sm-2 col-form-label"><b>Email: </b></label>
                <input readonly id="email" value="${teacher.email}" class="form-control-plaintext">
            </div>
        </form>
        
        <br/>

    </div>
    <!-- /.container -->
</#macro>

<@display_page/>