<#include "base.ftl.html">

<#macro page_body>
<div id="maincontent">
    <h2 class="subtitle">Edit course of <i>${course.name}</i></h2>
    <p class="subtitle">Academic Year: Current (${academic_year})</p>

    <div id="alert" class="alert alert-danger hidden" role="alert">
      Nothing to show
    </div>

    <div>
        <div class="left percent50">
            <h3 class="subtitle"><b>Course description and notes:</b></h3>
            <form id="left" class="subtitle moreabove" method="post" action="be_editcourse?action=coursedescription">
                <input type="hidden" name="coursecode" value="${course.code}"/>
                <div class="form-group">
                    <label for="prerequisites">Prerequisites:</label>
                    <textarea class="form-control" name="prerequisites">${course.prerequisites}</textarea>
                </div>
                <div class="form-group">
                    <label for="learning_outcomes">Learning outcomes:</label>
                    <textarea class="form-control" name="learning_outcomes">${course.learning_outcomes}</textarea>
                </div>
                <div class="form-group">
                    <label for="assessment_method">Assessment method:</label>
                    <textarea class="form-control" name="assessment_method">${course.assessment_method}</textarea>
                </div>
                <div class="form-group">
                    <label for="teaching_method">Teaching method:</label>
                    <textarea class="form-control" name="teaching_method">${course.teaching_method}</textarea>
                </div>
                <div class="form-group">
                    <label for="notes">Notes:</label>
                    <textarea class="form-control" name="notes">${course.notes}</textarea>
                </div>
                <div class="form-control">
                    <label for="images">Course images: </label>
                    <input type="file" accept="image/*" width="500" height="500" name="images" id="images" multiple />
                </div>
            </form>
        </div>
        <div class="right percent50">
            <h3 class="subtitle"><b>Descrizione del corso e note:</b></h3>
            <form id="right" class="subtitle moreabove" method="post" action="be_editcourse?action=coursedescription">
                <div class="form-group">
                    <label for="prerequisites_ita">Prerequisiti:</label>
                    <textarea class="form-control" name="prerequisites_ita">${course.prerequisites_ita}</textarea>
                </div>
                <div class="form-group">
                    <label for="learning_outcomes_ita">Risultati del corso:</label>
                    <textarea class="form-control" name="learning_outcomes_ita">${course.learning_outcomes_ita}</textarea>
                </div>
                <div class="form-group">
                    <label for="assessment_method_ita">Modalit&agrave; d'esame:</label>
                    <textarea class="form-control" name="assessment_method_ita">${course.assessment_method_ita}</textarea>
                </div>
                <div class="form-group">
                    <label for="teaching_method_ita">Modalit&agrave; d'insegnamento:</label>
                    <textarea class="form-control" name="teaching_method_ita">${course.teaching_method_ita}</textarea>
                </div>
                <div class="form-group">
                    <label for="notes_ita">Note:</label>
                    <textarea class="form-control" name="notes_ita">${course.notes_ita}</textarea>
                </div>
            </form>
        </div>
    </div>
    
    <div>
        <button id="button_back" onclick="goBack()" class="btn btn-danger">Back to base course info</button>
        <button id="button_submit" class="btn btn-success">Save and finish</button>
    </div>
    
</div>
</#macro>

<#macro script>
<!-- This page must work with only a minimum of JS -->
$(document).ready(function(){
    let alert = $('#alert');

    function showAlert(message, color, tobeshown) {
        alert.removeClass("alert-warning").removeClass("alert-success").removeClass("alert-danger").removeClass("alert-info");
        let newtype = "alert-warning";
        switch(color) {
            case "green": newtype = "alert-success"; break;
            case "blue": newtype = "alert-info"; break;
            case "red": newtype = "alert-danger"; break;
            default: newtype = "alert-warning"; break;
        }
        alert.addClass(newtype);
        
        alert.html(message);
        
        if(tobeshown) {
            alert.removeClass("hidden");
        }
        else {
            alert.addClass("hidden");
        }
    }
    
    function goBack() {
        window.history.back();
    }
    
    // I doubt this is achievable without JS
    $('#button_submit').click(function(e) {
        e.preventDefault();
        var formdata = new FormData($('form')[0]); // this also includes images
        console.log(formdata);
        formdata.append('learning_outcomes_ita', $('textarea[name=learning_outcomes_ita]')[0].value);
        formdata.append('prerequisites_ita', $('textarea[name=prerequisites_ita]')[0].value);
        formdata.append('assessment_method_ita', $('textarea[name=assessment_method_ita]')[0].value);
        formdata.append('teaching_method_ita', $('textarea[name=teaching_method_ita]')[0].value);
        formdata.append('notes_ita',$('textarea[name=notes_ita]')[0].value);
        jQuery.each($('#images').get(0).files, function(i, file) {
            formdata.append('file-'+i, file);
        });
        console.log(formdata);
        
        let url = "be_editcourse?action=coursedescription";
        
        $.ajax({
            url:    url,
            method: "POST",
            cache: false,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            data: formdata
        })
        .fail(function(res) {
            showAlert(res, "alert-danger", true);
        })
        .done(function(res) {
            //alert(res);
            if(res != "ok") {
                showAlert(res, "alert-danger", true);
            }
        });
    });

});
</#macro>

<@display_page/>