<#include "base.ftl.html">

<#macro page_body>
<div id="maincontent">
    <h2 class="subtitle">Edit course of <i>${course.name}</i></h2>
    <p class="subtitle">Academic Year: Current (${academic_year})</p>

    <div id="alert" class="alert alert-danger hidden" role="alert">
      Nothing to show
    </div>
    
    <span id="courseid" class="hidden">${course.id}</span>

    <h3 class="subtitle">Insert the <b>resources:</b></h3>
    <div class="subtitle">
        <div>
            <h4>Textbooks</h4>
            <#list textbooks as textbook>
            <form id="formtextbook${textbook?index+1}"  method="post" action="be_editcourse?action=textbook">
                <h5>Textbook #1</h5>
                <input type="hidden" name="courseid" value="${course.id}"/>
                <input type="hidden" name="inputtextid" value="${textbook.id}"/>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputtextauthor">Author: </label>
                        <input type="text" value="${textbook.author}" class="form-control" name="inputtextauthor" placeholder="Author's name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputtextpublisher">Publisher: </label>
                        <input type="text" value="${textbook.publisher}" class="form-control" name="inputtextpublisher" placeholder="Publisher">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputtextvolume">Volume: </label>
                        <input type="text" value="${textbook.volume}" class="form-control" name="inputtextvolume" placeholder="Vol. 1">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputtextyear">Year: </label>
                        <input type="number" value="${textbook.year}" class="form-control" name="inputtextyear" placeholder="2017">
                    </div>
                    <div class="form-group col-md-8">
                        <label for="inputtexturl">Website: </label>
                        <input type="url" class="form-control" name="inputtexturl" placeholder="http://www.example.com">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputtexttitle">Title: </label>
                        <input type="text" required value="${textbook.title}" class="form-control" name="inputtexttitle" placeholder="Title of book">
                    </div>
                </div>
            </form>
            </#list>
            <button type='button' id="button_add_book" class="morebelow btn btn-info">Add another textbook</button>
        </div>

        <div class="morebelow">
            <h4>External resources</h4>
            <#list resources as resource>
            <form id="formresource${resource?index+1}" method="post" action="be_editcourse?action=external_resource">
                <h5>Resource #1</h5>
                <input type="hidden" name="courseid" value="${course.id}"/>
                <input type="hidden" name="inputresourceid" value="${resource.id}"/>
                <div class="form-row">
                    <label for="inputresourcename">Resource name: </label>
                    <input type="text" required  value="${resource.name}" class="form-control" name="inputresourcename" placeholder="Summary of lecture 1" />
                </div>
                <div class="form-row">
                    <label for="inputresourcedescription">Resource description: </label>
                    <input type="text"  value="${resource.description}" class="form-control" name="inputresourcedescription" placeholder="Description" />
                </div>
                <div class="form-row">
                    <label for="inputresourceweblink">Weblink: </label><br/>
                    <input type="text" value="${resource.weblink}" class="form-control" name="inputresourceweblink"  placeholder="http://www.example.com" />
                </div>
            </form>
            </#list>
            <button type='button' id="button_add_resource" class="morebelow btn btn-info">Add another resource</button>
        </div>

        <div class="morebelow">
            <button id="button_back" class="btn btn-danger">Back to base course description</button>
            <button id="button_submit" class="btn btn-success">Save and finish</button>
        </div>
        
    </div>
</div>
</#macro>

<#macro script>
$(document).ready(function(){
    let alert = $('#alert');

    function showAlert(message, color, tobeshown) {
        alert.removeClass("alert-warning").removeClass("alert-success").removeClass("alert-danger").removeClass("alert-info");
        let newtype = "alert-warning";
        switch(color) {
            case "green": newtype = "alert-success"; break;
            case "blue": newtype = "alert-info"; break;
            case "red": newtype = "alert-danger"; break;
            default: newtype = "alert-warning"; break;
        }
        alert.addClass(newtype);
        
        alert.html(message);
        
        if(tobeshown) {
            alert.removeClass("hidden");
        }
        else {
            alert.addClass("hidden");
        }
        
        window.scrollTo(0,0);
    }
    
    $('#button_back').click(function(e) {
        history.go(-1);
    });
    
    function isURL(textval) {
        var urlregex = /^(https?|ftp):\/\/([a-zA-Z0-9.-]+(:[a-zA-Z0-9.&%$-]+)*@)*((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]?)(\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]?[0-9])){3}|([a-zA-Z0-9-]+\.)*[a-zA-Z0-9-]+\.(com|edu|gov|int|mil|net|org|biz|arpa|info|name|pro|aero|coop|museum|[a-zA-Z]{2}))(:[0-9]+)*(\/($|[a-zA-Z0-9.,?'\\+&%$#=~_-]+))*$/;
        return urlregex.test(textval);
    }
    
    function sendExternalResources(){
        // Check on textbooks and ERs. Texbooks require at least title and author; ERs name and weblink
        let toComplete = false;
        for(let i = 1; i <= book_no; i++) {
            let title = $('#formtextbook'+i).children().find('input[name="inputtexttitle"]').get(0).value;
            let author = $('#formtextbook'+i).children().find('input[name="inputtextauthor"]').get(0).value;
            if(title == "" || author == "") {
                showAlert('Please define for each <b>textbook</b> at least <b>author and title</b>', 'red', true);
                toComplete = true;
                break;
            }
        }
        
        if(!toComplete) {
            for(let i = 1; i <= resource_no; i++) {
                let weblink = $('#formresource'+i).children().find('input[name="inputresourceweblink"]').get(0).value;
                let name = $('#formresource'+i).children().find('input[name="inputresourcename"]').get(0).value;
                if(weblink == "" || name == "" || !isURL(weblink)) {
                    showAlert('Please define for each <b>resource</b> at least <b>name and weblink</b>', 'red', true);
                    toComplete = true;
                    break;
                }
            }
        }
    
        if(!toComplete) {
            // Textbooks
            for(let i = 1; i <= book_no; i++) {
                $('#formtextbook'+i).get(0).submit();
            }

            // External resources
            for(let i = 1; i <= resource_no; i++){
                $('#formresource'+i).get(0).submit();
            }
            
            let courseid = $('#courseid').val();
            window.location = "fe_courses?action=coursedetails&id=" + courseid;
        }
        
        // if there are no resources and no textbooks to process, change location
        if(resource_no == 1 && book_no == 1) {
            let courseid = $('#courseid').val();
            window.location = "fe_courses?action=coursedetails&id=" + courseid;
        }
    }
    
    // I doubt this is achievable without JS
    $('#button_submit').click(function(e) {
        e.preventDefault();
        showAlert("",'red',false);
        var errorWidthHeight = false;
        
        sendExternalResources();
    });
    
    $('#button_add_book').click(function(e) {
    book_no = book_no + 1;
    let html2 = "<form  method=\"post\" action=\"be_editcourse?action=textbook\" id=\"formtextbook"+ book_no +"\"><h5>Textbook #" + book_no + "</h5>  \
                    <input type=\"hidden\" name=\"courseid\" value=\"${course.id}\"/> \
                    <div class=\"form-row\">  \
                        <div class=\"form-group col-md-6\">  \
                            <label for=\"inputtextauthor\">Author: </label>  \
                            <input type=\"text\" class=\"form-control\" id=\"inputtextauthor\" name=\"inputtextauthor\" placeholder=\"Author name\">  \
                        </div>  \
                        <div class=\"form-group col-md-6\">  \
                            <label for=\"inputtextpublisher\">Publisher: </label>  \
                            <input type=\"text\" class=\"form-control\" id=\"inputtextpublisher\" name=\"inputtextpublisher\" placeholder=\"Publisher\">  \
                        </div>  \
                    </div>  \
                    <div class=\"form-row\">  \
                        <div class=\"form-group col-md-2\">  \
                            <label for=\"inputtextvolume\">Volume: </label>  \
                            <input type=\"text\" class=\"form-control\" id=\"inputtextvolume\" name=\"inputtextvolume\" placeholder=\"Vol. 1\">  \
                        </div>  \
                        <div class=\"form-group col-md-2\">  \
                            <label for=\"inputtextyear\">Year: </label>  \
                            <input type=\"number\" class=\"form-control\" id=\"inputtextyear\" name=\"inputtextyear\" placeholder=\"2017\">  \
                        </div>  \
                        <div class=\"form-group col-md-8\">  \
                            <label for=\"inputtexturl\">Website: </label>  \
                            <input type=\"url\" class=\"form-control\" id=\"inputtexturl\" name=\"inputtexturl\" placeholder=\"http://www.example.com\">  \
                        </div>  \
                    </div>  \
                    <div class=\"form-row\">  \
                        <div class=\"form-group col-md-12\">  \
                            <label for=\"inputtexttitle\">Title: </label>  \
                            <input required type=\"text\" class=\"form-control\" id=\"inputtexttitle\" name=\"inputtexttitle\" placeholder=\"Title of book\">  \
                        </div>  \
                    </div>  \
                </form>";
        $(this).parent().children().last().before($.parseHTML(html2)[0]);
        
    });
    
    $('#button_add_resource').click(function(e) {
            resource_no = resource_no + 1;
            let html1 = "<form method=\"post\" action=\"be_editcourse?action=external_resource\" id=\"formresource"+ resource_no +"\"><h5>Resource #" + resource_no + "</h5>   \
                    <input type=\"hidden\" name=\"courseid\" value=\"${course.id}\"/> \
                    <div class=\"form-row\">  \
                        <label for=\"inputresourcename\">Resource name: </label>  \
                        <input required type=\"text\" class=\"form-control\" name=\"inputresourcename\" id=\"inputresourcename\" placeholder=\"Summary of lecture 1\" />  \
                    </div> \
                    <div class=\"form-row\">  \
                        <label for=\"inputresourcedescription\">Resource description: </label>  \
                        <input type=\"text\" class=\"form-control\" name=\"inputresourcedescription\" id=\"inputdescription\" placeholder=\"Description\" />  \
                    </div>  \
                    <div class=\"form-row\">  \
                        <label for=\"inputresourceweblink\">Weblink: </label><br/>  \
                        <input type=\"text\" class=\"form-control\" name=\"inputresourceweblink\" id=\"inputweblink\" placeholder=\"http://www.example.com\" />  \
                    </div>  \
                </form>";
        $(this).parent().children().last().before($.parseHTML(html1)[0]);
        
    });
    
    var resource_no = ${textbooks?size};
    var book_no = ${resources?size};
    
});   
</#macro>

<@display_page/>