<#include "base.ftl.html">

<#macro page_body>
<div id="maincontent">
    <div class="title_search">
        <h2 class="subtitle">Corsi</h2>
        <input type="search" placeholder="Cerca..."/>
    </div>

    <#if message??>
    <div id="alert" class="subtitle alert alert-info moreabove" role="alert">
        ${message}
    </div>
    <#else>
    <div id="alert" class="subtitle alert alert-danger hidden moreabove" role="alert"></div>
    </#if>
    
    <div class="subtitle alert alert-info" role="alert">
        Attenzione: <b>Cerca</b> richiede <b>JavaScript</b>!
    </div>

    <#if courses??>
    <table class="table" id="be_homepage_table">
      <thead>
        <tr>
          <th>Codice</th>
          <th>Nome</th>
          <th>A.A.</th>
          <th>Professore</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
            <#list courses as course>
            <tr>
              <th scope="row">${course.code}</th>
              <td>${course.name}</td>
              <td>${course.academic_year}</td>
              <td>
                <#list course.teachers as t>
                <a href="be_editcourse?action=decouple_teacher&teacher_id=${t.id}&course_id=${course.id}&lang=ITA"><i class="fa fa-trash" aria-hidden="true"></i></a>  <a href="fe_courses?action=details_teacher&id=${t.id}&lang=ITA">${t.lastname}, ${t.name}</a>
                <br/>
                </#list>
                    <form class="inline" method="post" action="be_homepage?action=assigncourseteacher">
                        <input type="hidden" name="coursecode" value="${course.code}"/>
                        <input type="hidden" name="academic_year" value="${current_academic_year}"/>
                        <div class="row">
                            <div class="col-md-9">
                                <select name="teacherid" class="form-control">
                                    <option value="-1" selected>Nessuno</option>
                                    <#if teachers??>
                                    <#list teachers as teacher>
                                    <option value="${teacher.id}">${teacher.lastname}, ${teacher.name}</option>
                                    </#list>
                                    </#if>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="submit" class="button_assign form-control btn btn-success" value="Assegna"/>
                            </div>
                        </div>
                    </form>
              </td>
              <td>
                  <ul class="ul_no_dots">
                      <li><i class="fa fa-eye" aria-hidden="true"></i> <a href="fe_courses?action=details_course&coursecode=${course.code}&academic_year=${course.academic_year}&lang=ITA">Vedi</a></li>
                      <#if course.academic_year == current_academic_year><li><i class="fa fa-pencil" aria-hidden="true"></i> <a href="be_editcourse?courseid=${course.id}&lang=ITA">Modifica</a></li></#if>
                      <li><i class="fa fa-trash-o" aria-hidden="true"></i> <a href="deletecourse?action=deletecourse&lang=ITA&coursecode=${course.code!"none"}">Elimina</a></a></li>
                  </ul>
              </td>
            </tr>
            </#list>

      </tbody>
    </table>
    <#else>
    <div class="alert alert-info" role="alert">
        Nessun corso inserito
    </div>
    </#if>
</div>
</#macro>

<#macro script>
$(document).ready(function(){
    let alert = $('#alert');
    
    function showAlert(message, color, tobeshown) {
        alert.removeClass("alert-warning").removeClass("alert-success").removeClass("alert-danger").removeClass("alert-info");
        let newtype = "alert-warning";
        switch(color) {
            case "green": newtype = "alert-success"; break;
            case "blue": newtype = "alert-info"; break;
            case "red": newtype = "alert-danger"; break;
            default: newtype = "alert-warning"; break;
        }
        alert.addClass(newtype);
        
        alert.html(message);
        
        if(tobeshown) {
            alert.removeClass("hidden");
        }
        else {
            alert.addClass("hidden");
        }
    }
    
    // Search
    var $rows = $('table tr');
    $('input[type=search]').keyup(function() {
        let val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        
        $rows.show().filter(function() {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
        
        $('table thead tr').show();
    });
});
</#macro>

<@display_page/>