<#include "base.ftl.html">

<#macro page_body>
<div id="maincontent">
    <div class="title_search">
        <h2 class="subtitle">Courses</h2>
        <input type="search" placeholder="Search..."/>
    </div>

    <#if message??>
    <div id="alert" class="subtitle alert alert-info moreabove" role="alert">
        ${message}
    </div>
    <#else>
    <div id="alert" class="subtitle alert alert-danger hidden moreabove" role="alert"></div>
    </#if>
    
    <div class="subtitle alert alert-info" role="alert">
        Warning: <b>Assigning a teacher</b> and <b>Search</b> require <b>JavaScript</b>!
    </div>

    <#if courses??>
    <table class="table" id="be_homepage_table">
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>A.Y.</th>
          <th>Teacher</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
            <#list courses as course>
            <tr>
              <th scope="row">${course.code}</th>
              <td>${course.name}</td>
              <td>${course.academic_year}</td>
              <td>
                <#list course.teachers as t>
                <a href="be_editcourse?action=decouple_teacher&teacher_id=${t.id}&course_id=${course.id}"><i class="fa fa-trash" aria-hidden="true"></i></a>  <a href="fe_courses?action=details_teacher&id=${t.id}">${t.lastname}, ${t.name}</a>
                <br/>
                </#list>
                    <div class="row">
                        <form class="inline" method="post" action="be_homepage?action=assigncourseteacher">
                            <select name="teacherid" class="form-control col-md-6">
                                <option value="-1" selected>Nobody</option>
                                <#if teachers??>
                                <#list teachers as teacher>
                                <option value="${teacher.id}">${teacher.lastname}, ${teacher.name}</option>
                                </#list>
                                </#if>
                            </select>
                            <input type="hidden" name="coursecode" value="${course.code}"/>
                            <input type="hidden" name="academic_year" value="${current_academic_year}"/>
                            <input type="submit" class="button_assign form-control btn btn-success col-md-6" value="Assign"/>
                        </form>
                    </div>
              </td>
              <td>
                  <ul class="ul_no_dots">
                      <li><i class="fa fa-eye" aria-hidden="true"></i> <a href="fe_courses?action=details_course&coursecode=${course.code}&academic_year=${course.academic_year}">Show</a></li>
                      <#if course.academic_year == current_academic_year><li><i class="fa fa-pencil" aria-hidden="true"></i> <a href="be_editcourse?courseid=${course.id}">Edit</a></li></#if>
                      <li><i class="fa fa-trash-o" aria-hidden="true"></i> <a href="deletecourse?action=deletecourse&coursecode=${course.code!"none"}">Delete</a></a></li>
                  </ul>
              </td>
            </tr>
            </#list>

      </tbody>
    </table>
    <#else>
    <div class="alert alert-info" role="alert">
        No course entered yet
    </div>
    </#if>
</div>
</#macro>

<#macro script>
$(document).ready(function(){
    let alert = $('#alert');
    
    function showAlert(message, color, tobeshown) {
        alert.removeClass("alert-warning").removeClass("alert-success").removeClass("alert-danger").removeClass("alert-info");
        let newtype = "alert-warning";
        switch(color) {
            case "green": newtype = "alert-success"; break;
            case "blue": newtype = "alert-info"; break;
            case "red": newtype = "alert-danger"; break;
            default: newtype = "alert-warning"; break;
        }
        alert.addClass(newtype);
        
        alert.html(message);
        
        if(tobeshown) {
            alert.removeClass("hidden");
        }
        else {
            alert.addClass("hidden");
        }
    }
    
    // Button Assign clicked: assign course to teacher
    $(".button_assign").click(function(){
        showAlert("","",false);
        let coursecode = "";
        let teacherid = -1;
        let academic_year = "";
        
        // find course code and academic year
        console.log($(this));
        q = $(this);
        coursecode = $(this).parent().parent().parent().children().get(0).innerHTML;
        academic_year = $(this).parent().parent().parent().children().get(2).innerHTML;
        
        // find teacher's id
        teacherid = $(this).parent().parent().parent().children().get(3).children[0].children[0].selectedOptions[0].attributes.value.value;
        
        $.post( "be_homepage", {'action': 'assigncourseteacher', 'coursecode': coursecode, 'academic_year': academic_year, 'teacherid': teacherid })
        .done(function(res) {
            let text = res;
            if(res == "ok")
                text = "Course "+ coursecode + " assigned to teacher";
            showAlert(text, res == "ok" ? "green" : "red", true);
        })
        .fail(function() {
            showAlert( "error", red, true );
        });
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    });
    
    // Search
    var $rows = $('table tr');
    $('input[type=search]').keyup(function() {
        let val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        
        $rows.show().filter(function() {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
        
        $('table thead tr').show();
    });
});
</#macro>

<@display_page/>