<#include "base.ftl.html">

<#macro page_body>
<div id="maincontent">
    <div class="title_search">
        <h2 class="subtitle">I miei corsi</h2>
        <input type="search" placeholder="Cerca..."/>
    </div>

    <#if message??>
    <div id="alert" class="subtitle alert alert-info moreabove" role="alert">
        ${message}
    </div>
    <#else>
    <div id="alert" class="alert alert-danger hidden" role="alert"></div>
    </#if>
    
    <div class="subtitle alert alert-info" role="alert">
        Attenzione: <b>la ricerca</b> richiede <b>JavaScript</b>!
    </div>

    <#if courses?? && courses?size != 0>
    <table class="table" id="be_homepage_table">
      <thead>
        <tr>
          <th>Codice</th>
          <th>Nome</th>
          <th>SSD</th>
          <th>A.A.</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>

            <#list courses as course>
            <tr>
              <th scope="row">${course.code}</th>
              <td>${course.name}</td>
              <td>${course.SSD}</td>
              <td>${course.academic_year}</td>
              <td>
                  <ul class="ul_no_dots">
                      <#if course.academic_year == current_academic_year><li><a href="be_editcourse?courseid=${course.id}"><i class="fa fa-pencil" aria-hidden="true"></i> Modifica</a></li></#if>
                      <li><a href="fe_courses?action=details_course&coursecode=${course.code}&lang=ITA"><i class="fa fa-trash-o" aria-hidden="true"></i> Mostra dettagli</a></li>
                  </ul>
              </td>
            </tr>
            </#list>

      </tbody>
    </table>
    <#else>
    <div class="morebelow subtitle alert alert-info" role="alert">
        Nessun corso assegnato
    </div>
    </#if>
</div>
</#macro>

<#macro script>
$(document).ready(function(){
    let alert = $('#alert');
    
    function showAlert(message, color, tobeshown) {
        alert.removeClass("alert-warning").removeClass("alert-success").removeClass("alert-danger").removeClass("alert-info");
        let newtype = "alert-warning";
        switch(color) {
            case "green": newtype = "alert-success"; break;
            case "blue": newtype = "alert-info"; break;
            case "red": newtype = "alert-danger"; break;
            default: newtype = "alert-warning"; break;
        }
        alert.addClass(newtype);
        
        alert.html(message);
        
        if(tobeshown) {
            alert.removeClass("hidden");
        }
        else {
            alert.addClass("hidden");
        }
    }
    
    var $rows = $('table tr');
    $('input[type=search]').keyup(function() {
        let val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        
        $rows.show().filter(function() {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
        
        $('table thead tr').show();
    });
});
</#macro>

<@display_page/>