<#include "base.ftl.html">

<#macro page_body>
<div id="maincontent">
    <h2 class="subtitle">Modifica profilo</h2>

    <#if message??>
    <div id="alert" class="subtitle alert alert-info moreabove" role="alert">
        ${message}
    </div>
    <#else>
    <div id="alert" class="subtitle alert alert-danger hidden" role="alert"></div>
    </#if>

    <form enctype='multipart/form-data' method="post" id="form_adduser" class="centered moreabove" action="be_updateprofile?action=updateprofile&lang=ITA" >
        <div class="form-group">
            <input type="hidden" class="form-control" id="id" name="id" value="${teacher.id}"/>
        </div>
        <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" class="form-control" id="name" name="name" value="${teacher.name}" placeholder="John" required/>
        </div>
        <div class="form-group">
            <label for="lastname">Cognome:</label>
            <input type="text" class="form-control" id="lastname" name="lastname"  value="${teacher.lastname}" placeholder="Smith" required/>
        </div>
        <div class="form-group">
            <label for="language">Lingua:</label>
            <select name="language" class="form-control">
                <option value="ita" <#if teacher.language == "ita"> selected</#if>>Italiano</option>
                <option value="eng" <#if teacher.language == "eng"> selected</#if>>English</option>
            </select>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email"  value="${teacher.email}" placeholder="email@univaq.it" required/>
        </div>
        <div class="form-group">
            <label for="image">Foto (richiede uguali dimensioni): </label>
            <input type="file" class="form-control" name="image" id="image" accept="image/*" />
        </div>
        <hr/>
        <div class="form-group">
            <label for="password">Nuova password (almeno una maiuscola e un numero):</label>
            <input type="password" pattern="((?=.*[0-9])(?=.*[a-zA-Z]).{8,})" class="form-control" id="password" name="password" placeholder="Password..."/>
        </div>
        <div class="form-group">
            <label for="password2">Ripetere nuova password:</label>
            <input type="password" pattern="((?=.*[0-9])(?=.*[a-zA-Z]).{8,})" class="form-control" id="password2" name="password2" placeholder="Password..."/>
        </div>
        <button type="submit" class="btn btn-success moreabove" name="login">Salva</button>
    </form>
</div>
</#macro>

<#macro script>
$(document).ready(function(){
    // Delete password: if browser remembers it, it would be shown
    $('#password').val('');


    // this code is not strictly necessary. server will stop request in any case
    var _URL = window.URL || window.webkitURL;
    $("#image").change(function(e) {
        $('#alert')[0].classList.add('hidden');
        var file, img;

        if ((file = this.files[0])) {
            img = new Image();
            img.onload = function() {
                if(this.width != this.height) {
                    $('#alert')[0].innerHTML = '<b>Dimensioni delle immagini </b> non uguali. Potrebbero essere rifiutate dal server';
                    $('#alert')[0].classList.remove('hidden');
                    
                    document.body.scrollTop = 0; // For Safari
                    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
                }
            };
            img.onerror = function() {
                alert( "File non valido: " + file.type);
            };
            img.src = _URL.createObjectURL(file);
        }
    });

});
</#macro>

<@display_page/>